<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario Alumnos</title>
</head>
<body>
<h1>Formulario Alumnos</h1>
<form th:action="@{'/alumnos/modificar'}" method="post" th:object="${alumno}">
    <label for="idAlumno">Alumno</label>
    <input type="number" id="idAlumno" th:field="*{idAlumno}" required/>
    <br/>
    <label for="nombre">nombre del Alumno</label>
    <input type="text" id="nombre" th:field="*{nombre}" placeholder="Escriba el nombre del alumno" required/>
    <br/>
    <label for="nota">Nota final: </label>
    <input type="number" id="nota" th:field="*{nota}" />
    <br/>
    <label for="creditos">Creditos estudiados: </label>
    <input type="number" id="creditos" th:field="*{creditos}" />
    <br/>
    <input type="submit" value="Modificar">


</form>
</body>
</html>